body {
  font-size: 24px;
  margin: 0;
  overflow: hidden;
  font-family: 'Brush Script MT';
}

.game-area {
  position: relative;
  background: rgb(61, 160, 244);
  background: linear-gradient(
    0deg,
    rgba(61, 160, 244, 1) 0%,
    rgba(192, 221, 246, 1) 33%,
    rgba(55, 157, 244, 1) 100%
  );
  width: 100%;
  height: 95.5vh;
  margin: 0;
}

.game-start {
  box-shadow: 14px 13px 33px -1px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 14px 13px 33px -1px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 14px 13px 33px -1px rgba(0, 0, 0, 0.38);
  font-size: 40px;
  position: absolute;
  width: 20%;
  background-color: #234465;
  color: #ffa000;
  border-radius: 60px;
  top: 100px;
  left: 40%;
  z-index: 1;
  text-align: center;
  padding: 15px 0 15px 0;
}

.game-start:hover {
  background-color: #ffa000;
  color: #234465;
}

.game-score {
  background-color: #234465;
  color: #ffa000;
  text-align: center;
}

.hide {
  display: none;
}

.wizard {
  z-index: 100;
  position: absolute;
  width: 82px;
  height: 100px;
  background-image: url(../images/wizard.png);
  background-size: cover;
}

.wizard-fire {
  background-image: url(../images/wizard-fire.png);
  background-size: cover;
}

.fire-ball {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(../images/fire-ball.png);
  background-size: cover;
}

.cloud {
  position: absolute;
  z-index: 0;
  width: 200px;
  height: 200px;
  background-image: url(../images/cloud.png);
  background-size: cover;
}

.bug {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(../images/bug.png);
  background-size: cover;
}
